nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    background: transparent;
    border: none;
    cursor: pointer;
    border: 2px solid rgb(153, 153, 153);
    padding: 0.5rem;
    transition: all 0.3s ease;
    outline: 0;
    &:hover {
      background: rgb(77, 74, 74);
      color: white;
    }
  }
}
